
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-title {
    background-color: rgba(7, 22, 108, 0.8);   
    grid-column: 1 / 3; 
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
}

.grid-bar {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(172, 179, 184, 0.8);
    grid-column: 1 / 3;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.grid-item{
    background-color: rgba(7, 22, 108, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}

.grid-play {
    
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    
}

.speeddisplay {
    font-size: 30px;
    text-align: center;
}

.grid-options {
    padding: 5%;
    /* margin-right: 10px; */
}





.tab-container {
    
    display: grid; 
    place-items: center;
    padding: 10px ; /* Add some padding for better visibility */
    background-color:  rgba(9, 25, 116, 0.8); /* Example background color */
    color: #ffffff; /* Example text color */
    text-decoration: none; /* Remove the default underline */
    border-radius: 12px; /* Optional: Add rounded corners */
}

.bars{
    
    align-items: center;
}

.button {

    width: 70px; /* Set the desired width */
    height: 35px; /* Set the desired height */
    font-size: 16px;
    color: rgba(19, 18, 17, 0.8)


}

.tick-played {
    background-color: rgb(16, 198, 104)
}

.tick-current {
    background-color: rgb(193, 183, 138)
}


.button-off{
    
    background-color: rgb(64, 64, 60)
    

}